<%= form_for(@cardholder) do |f| %>
  <% if @cardholder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cardholder.errors.count, "error") %> prohibited this cardholder from being saved:</h2>

      <ul>
      <% @cardholder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ch_type %><br />
    <%= f.text_field :ch_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
