<p id="notice"><%= notice %></p>

<p>
  <b>Rank:</b>
  <%= @card.rank %>
</p>

<p>
  <b>Suite:</b>
  <%= @card.suite %>
</p>

<p>
  <b>Image:</b>
  <%= @card.image %>
</p>


<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
